*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    width: 500px;
    text-align: center;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(179,118,32,1) 71%);
}
h1{
    margin: 20px 0 40px;
    margin-top: 50px;
}
input{
    height: 40px;
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
}
.gog{
    width: 100px;
    height: 20px;
    border: none;
    background: rgb(190,205,66);
background: linear-gradient(90deg, rgba(190,205,66,1) 0%, rgba(181,38,38,1) 0%);
    border-radius: 20px;
}
.goga2{
    width: 500px;
    height: 50px;
    margin-top: 20px;
}